<p>employee-add-pet works!</p>
<label for="name">Name:</label>
<input type="text" id="name">
<label for="name">Type:</label>
<select id="type">type
    <option value="dog">Dog</option>
    <option value="cat">Cat</option>
    <option value="bird">Bird</option>
    <option value="reptile">Reptile</option>
    <option value="mouse">Mouse</option>
    <option value="fish">Fish</option>
</select>
<label for="breed">Name:</label>
<input type="text" id="breed">
<label for="age">Age:</label>
<input type="number" id="age">
<label for="weight">Weight:</label>
<input type="number" id="weight">
<label for="height">Height:</label>
<input type="number" id="height">
<label for="medicalinfo">Medical Info:</label>
<input type="text" id="medical">
<label for="aboutme">About Me:</label>
<input type="text" id="aboutme">
<label for="owner">Owner:</label>
<input type="text" id="owner">
<input type="submit">


