ul {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;
}
li {
    display:inline;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}