<div>
    <h1>Registration</h1>
   
    <input type="text" [(ngModel)] = "username" placeholder="Name"> <br>
   
    <input type="email" [(ngModel)] = "useremail" placeholder="Email"> <br>
    
    <input type="password" [(ngModel)] = "userpassword" placeholder="Password"> <br>
    
    <input type="password" [(ngModel)] = "password2" placeholder="Confirm password"> <br>

    <textarea rows="5" cols="21" [(ngModel)] = "userinfo" placeholder="About me"></textarea> <br>

    <button (click) = "createAdopter()">Submit</button>

    <p *ngIf="!invalid">{{result}}</p>
</div>
