<div>
    <h1>Registration</h1>
    <!-- <p>Name :<input type="text" [(ngModel)] = "uname"></p> -->
    <input type="text" [(ngModel)] = "uname" placeholder="Name"> <br>
    <!-- <p>Email :<input type="text" [(ngModel)] = "email"></p> -->
    <input type="text" [(ngModel)] = "email" placeholder="Email"> <br>
    <!-- <p>Password :<input type="password" [(ngModel)] = "password"></p> -->
    <input type="password" [(ngModel)] = "password" placeholder="Password"> <br>
    <!-- <p>Confirm Password :<input type="password" [(ngModel)] = "password2"></p> -->
    <input type="password" [(ngModel)] = "password2" placeholder="Confirm password"> <br>
    <!-- <p>What is your role :<input type="text" [(ngModel)] = "role"></p> -->
    <input type="text" [(ngModel)] = "role" placeholder="Role"> <br>
    <button (click) = "createAdopter()">Submit</button>
    <p *ngIf="!invalid">{{result}}</p>
</div>
