<p>create-application works!</p>

<div>
    <p>Please tell us a little about yourself!</p>
    <div>   
        <span>Pet ID </span>
    <input [(ngModel)] = "petID" type="number" (keyup)="petIDValidator()">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Children</label>
        <textarea [(ngModel)] = "children" cols="50" rows="5" ></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">References</label>
    <textarea [(ngModel)] = "references" cols="50" rows="5"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Current Pets</label>
    <textarea [(ngModel)]="currentPets" cols="50" rows="5"></textarea>
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Comments</label>
        <textarea [(ngModel)]="comments" cols="50" rows="5"></textarea>
    </div>
    

    <button (click)="submitApp()">Submit</button>


</div>