

<div >

<table *ngFor="let a of applications" >
    <tr>
    <th>Pet Name</th>
    <th>Adoptor Name</th>
      <th>Current Pets</th>
    <th>Children</th>
    </tr>
    <tr >
        <td>{{a.petName}}</td>
        <td>{{a.userName}}</td>
        <td>{{a.appPetsOwned}}</td>
        <td>{{a.appChildren}}</td>
    </tr>
    <div>
        <span>references</span>
        <p>{{a.appReferences}}</p>
    </div>
    <div>
        <span>Comments</span>
    <p>{{a.appComments}}</p>
    </div>
    <button (click)="acceptApp(a)">Accept</button>
    <button (click)="rejectApp(a)">Reject</button>
</table>
    


</div>