<p>view-applications works!</p>

<div >

    <button (click)="createApps()">Populate table</button>

<Table *ngFor="let a of applications" >
    <tr>
    <th>Pet Name</th>
    <th>Adoptor Name</th>
    <th>References</th>
    <th>Current Pets</th>
    </tr>
    <tr >
        <td>{{a.petName}}</td>
        <td>{{a.adoptorName}}</td>
        <td>{{a.references}}</td>
        <td>{{a.currentPets}}</td>
    </tr>
    <p>{{a.comments}}</p>
    <button (click)="acceptApp(a)">Accept</button>
    <button (click)="rejectApp(a)">Reject</button>
</Table>
    


</div>