<nav class="bg-light navbar navbar-expand-lg navbar-light sticky-top"> 
    <a class="navbar-brand" href="#" style="font-family: 'Akronim', cursive; color: #ae7800;"><img src="assets/images/logo.png" class="img-fluid" width="40">Mongoose</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler38" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"> 
        <span class="navbar-toggler-icon"></span> 
    </button>
    <div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdownMenuLink39"> 
        <a class="dropdown-item" (click)="account()">Account</a> 
        <a class="dropdown-item" (click)="logOut()">Sign Out</a> 
    </div>
    <div class="collapse font-weight-bold lead navbar-collapse text-monospace" id="navbarToggler38"> 
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" *ngIf="!isEmployee"> 
            <li class="ml-3 mr-3 nav-item"> 
                <a class="nav-link" (click)="viewPets()">Browse Pets</a> 
            </li>
            <li class="mr-3 nav-item"> 
                <a class="nav-link" (click)="createAppointment()" >My Appointments</a> 
            </li>
            <li class="mr-3 nav-item"> 
                <a class="nav-link" (click)="viewApp()">My Applications</a> 
            </li>                     
        </ul>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" *ngIf="isEmployee"> 
          <li class="ml-3 mr-3 nav-item"> 
              <a class="nav-link" (click)="addPet()">Add Pet</a> 
          </li>
          <li class="mr-3 nav-item"> 
              <a class="nav-link" (click)="viewPets()" >View Pets</a> 
          </li>
          <li class="mr-3 nav-item"> 
              <a class="nav-link" (click)="viewApp()">View Applications</a> 
          </li>                     
      </ul>         

    </div>
    <a class="dropdown-toggle font-weight-light nav-link text-body" href="#" id="navbarDropdownMenuLink39" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="letter-spacing: 2px; display: flex; align-items: baseline;">Welcome {{person}}                             </a> 
</nav>
<div class="container-fluid d-block shadow-none text-center" style="background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.71) 18.6682%, rgba(255, 255, 255, 0.74) 63.2028%, rgba(255, 255, 255, 0.3) 100%); background-size: cover; min-height: 940px;">
    <div class="font-italic justify-content-center no-gutters row">
        <div class="col-md-4 d-flex justify-content-center mb-n5 mt-5 pb-5 pt-4 text-black-50" style="background: linear-gradient(rgb(255, 255, 255) 10.1224%, rgba(255, 255, 255, 0) 100%);">
            <h3 class="font-weight-bold text-uppercase">Applications</h3> 
        </div>
    </div>
    <div class="bg-white mb-3 mt-3 no-gutters row shadow">
        <table class="table" *ngFor="let app of applications"> 
            <thead style="background-color: #ececec;"> 
                <tr class="text-uppercase" style="font-size: 20px;"> 
                    <th>Pet Name</th>
                    <th>Adopter</th>
                    <th *ngIf="isEmployee">Current Pets</th>
                    <th *ngIf="isEmployee">Children</th>
                    <th>Status</th>
                </tr>                         
            </thead>                     
            <tbody style="font-size: 20px; font-weight: bolder; line-height: 60px;"> 
                <tr class=""> 
                    <td>{{app.pet.petName}}</td>
                    <td>{{app.user.userName}}</td>
                    <td *ngIf="isEmployee">{{app.appPetsOwned}}</td>
                    <td *ngIf="isEmployee">{{app.appChildren}}</td>
                    <td>{{app.appstatus}}</td>
                </tr>                         
            </tbody>
            <div class="d-flex flex-fill mt-5 row row-cols-2" *ngIf="isEmployee">
                <div class="col-lg-6 ml-4 text-left" style="font-size: 20px; font-weight: bold;">
                    <p>References: {{app.appReference}}</p>
                    <p>Comments: {{app.appComment}}</p>
                </div>
                <div class="col-lg-5">
                    <button type="button" class="bg-primary btn btn-light font-weight-bold lead ml-3 mr-3 p-2 pb-3 pl-5 pr-5 pt-3 shadow text-monospace text-uppercase text-white" (click)="acceptApp(app)">Accept</button>
                    <button type="button" class="bg-primary btn btn-light font-weight-bold ml-3 mr-3 pb-3 pl-5 pr-5 pt-3 shadow text-monospace text-uppercase text-white" (click)="rejectApp(app)">Reject</button>
                    <h3>{{message1}}</h3>
                </div>
            </div>
            <div class="d-flex flex-fill mt-5 row row-cols-2" *ngIf="!isEmployee">
                <div class="col-lg-5">
                    <button type="button" class="bg-primary btn btn-light font-weight-bold lead ml-3 mr-3 p-2 pb-3 pl-5 pr-5 pt-3 shadow text-monospace text-uppercase text-white" (click)="updateApp()">updateApp</button>
                    <button type="button" class="bg-primary btn btn-light font-weight-bold ml-3 mr-3 pb-3 pl-5 pr-5 pt-3 shadow text-monospace text-uppercase text-white" (click)="rejectApp(app)">Reject</button>
                    <h3>{{message2}}</h3>
                </div>
                <div class="col-lg-6 ml-4 text-left" style="font-size: 20px; font-weight: bold;" *ngIf="view">
                    <div class="d-flex flex-nowrap form-row justify-content-around">
                        <div class="col-md-10 mr-2">
                            <label for="children" class="sr-only">Current Children</label>
                            <textarea rows="4" class="form-control mb-0 mt-4" id="children" [(ngModel)]="appChildren" [ngModelOptions]="{standalone: true}" placeholder={{app.appChildren}}></textarea>
                            <label for="pets" class="sr-only">Current Pets</label>
                            <textarea rows="4" class="form-control mb-0 mt-4" id="pets" [(ngModel)]="appPetsOwned" [ngModelOptions]="{standalone: true}" placeholder= {{app.appPetsOwned}}></textarea> 
                        </div>
                        <div class="col-md-10 ml-2">
                            <label for="references" class="sr-only">References</label>
                            <textarea rows="4" class="form-control mb-0 mt-4" id="references" [(ngModel)]="appReferences" [ngModelOptions]="{standalone: true}" placeholder= {{app.appReference}}></textarea>
                            <label for="comments" class="sr-only">Comments</label>
                            <textarea rows="4" class="form-control mt-4" id="comments" [(ngModel)]="appComments" [ngModelOptions]="{standalone: true}" placeholder={{app.appComment}}></textarea> 
                        </div>
                    </div>
                    <button (click)="submitApp(app)" class="btn btn-primary mt-3">Submit</button>
                    <h3>{{message2}}</h3>
                </div>
            </div>
        </table>
    </div>
</div>
<p class="text-body text-center">&copy; Mongoose 2020</p>