<h3>Welcome {{person}}</h3>

<ul>
    <li><button (click) = "createApplication()">Create Appliaction</button></li> 
    <li><button (click) = "createAppointment()">Set up appointment</button></li>
    <li><button (click) = "petView()">View Pets</button></li>
    <li><button (click) = "viewApplications()">View your Applications</button></li>
    <li><button (click) = "logOut()">Log Out</button></li>
    <!-- Option tabs-->
    <!-- <li><button (click) = "payment()">info</button></li>
    <li><button (click) = "viewOwnedPets()">View your Pets</button></li> -->
</ul>


